.container {
  padding: 16px;
  margin-block: 8px;
  button {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
  }
}

.item-header-top {
  display: flex;
  justify-content: space-between;
}

.item-header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button.btn.decrease-unit {
    color: $primary-grey;
  }
  button.btn.increase-unit {
    color: $green;
  }
}

.item-card {
  margin: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-card-section {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #E2E2E2;
}

.item-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rating {
    display: flex;
    align-items: center;
    .stars {
      color: #F3603F;
    }
  }
}