.btn-green-primary {
  background-color: #53B175;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 18px;
  width: 364px;
  height: 67px;
}
