.card-category {
  border: 1.5px solid;
  height: 189.11px;
  width: 174.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;

  &.green {
    border-color: $green;
    background-color: rgba($green, 0.25);
  }
  &.primary-red {
    border-color: $primary-red;
    background-color: rgba($primary-red, 0.25);
  }
  &.yellow {
    border-color: $yellow;
    background-color: rgba($yellow, 0.25);
  }
  &.secondary-red {
    border-color: $secondary-red;
    background-color: rgba($secondary-red, 0.25);
  }
  &.purple {
    border-color: $purple;
    background-color: rgba($purple, 0.25);
  }
  &.pink {
    border-color: $pink;
    background-color: rgba($pink, 0.25);
  }
  &.secondary-blue {
    border-color: $secondary-blue;
    background-color: rgba($secondary-blue, 0.25);
  }
  &.orange {
    border-color: $orange;
    background-color: rgba($orange, 0.25);
  }
}

.category-card-container {
  padding-bottom: 45px;
}

.card-image {
  width: 150px;
  height: 140px;
  object-fit: cover;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}
