.header-buttons-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;
}

.btn-primary {
  background-color: #53B175;
  border: none;
  color: white;
  padding: 1px 5px;
  font-size: 10px;
}

.btn-secondary {
  background-color: #53B175;
  border: none;
  color: white;
  padding: 1px 5px;
  font-size: 10px;
}

