
<div class="container">
  <div class="row justify-content-center">
    <h5 class="card-title"><%= @category.name %></h5>
    <% @category.items.each do |item| %>
      <%= render "items/item-card", item: item %>
    <% end %>
  </div>
</div>

<div class="navbar fixed-bottom">
  <div class="button-column">
    <i class="fa-solid fa-shop"></i>
      <%= link_to root_path, class: "no-link-style" do %>
      <span>Shop</span>
    <% end %>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-cart-shopping"></i>
    <span>Cart</span>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-user"></i>
    <span>Account</span>
  </div>
</div>
